{% extends "base.html" %}

{% block title %}Trivia City - Game Supplies{% endblock %}

{% block content %}
<h1 class="pb-3">Game Supplies</h1>

<h2>Games</h2>
{% if game_list_future %}
  <div class='table-responsive'>
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col-2">Date</th>
          <th class="col-3">Question Set</th>
          <th class="col-3">Worksheet/Audio</th>
          <th class="col-4">Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for game in game_list_future %}
        <tr class="d-flex">
          <td class="col-2">{{ game.date }}</td>
          <td class="col-3 text-truncate">
            {% if game.question_set %}
              <a href="{{ game.question_set.url }}" download="{{ game.question_set.url }}">
                <i class="fa fa-download"></i> {{ game.question_set_filename }}
              </a>
            {% else %}
              -
            {% endif %}
          </td>
          <td class="col-3 text-truncate">
            {% if game.worksheet %}
              <a href="{{ game.worksheet.url }}" download="{{ game.worksheet.url }}">
                <i class="fa fa-download"></i> {{ game.worksheet_filename }}
              </a>
            {% else %}
              -
            {% endif %}
          </td>
          <td class="col-4">{{ game.notes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <hr />
  <p class="pb-3">There are no games.</p>
{% endif %}

{% endblock %}

