Hi!

Someone asked for a password reset for this email address: {{ email }}.

You can follow the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Or if clicking the link above doesn't work, copy and paste the URL
in a new browser window instead.

Your username, in case you forgot: {{ user.username }}

If you didn't request a password reset, it's possible another user entered
your email address by mistake while trying to reset their password. If that's the case,
you don't need to do anything and can safely ignore this email.

Thanks!

Trivia City