.navbar-brand {
  font-family: 'Archivo Black', sans-serif;
}

nav a{
  color: black;
}

nav {
  background-color: white;
  opacity: 0.85;
}

.jumbotron-image {
  background-image: url("../img/cartoon_city_banner.png");
  background-repeat: repeat round;
}

.jumbotron {
  max-width: 100%;
}

h1 {
  font-size: 1.6rem !important;
}

h2 {
  font-size: 1.0rem !important;
}

@media (max-width: 370px) {
  .nav-tabs .nav-link{
    padding: 0.25rem 0.5rem;
  }
}