{% extends "base.html" %}

{% block title %}Trivia City - {{ pay_stub.pay_date }} Pay Stub Detail{% endblock %}

{% block content %}
<h3>Details for Pay Stub:</h3>
<h5>{{ pay_stub.pay_date }}</h5>
<br>

{% if pay_stub.salary_payments.all %}
<h5>Salary Payments</h5>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Week</th>
        <th>Role</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for salary_payment in pay_stub.salary_payments.all %}
      <tr>
        <td>{{ salary_payment.week_start }} - {{ salary_payment.week_end }}</td>
        <td>-</td>
        <td>${{ salary_payment.gross_amount }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endif %}

{% if pay_stub.event_occurrence_payments.all %}
<h5>Event Payments</h5>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Submission Date</th>
        <th>Event Date</th>
        <th>Event</th>
        <th>Number of Teams</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for event_occurrence_payment in pay_stub.event_occurrence_payments.all %}
      <tr>
        <td>{{ event_occurrence_payment.submission_date }}</td>
        <td>{{ event_occurrence_payment.event_occurrence.date }}</td>
        <td>{{ event_occurrence_payment.event_occurrence.event.day }}, {{ event_occurrence_payment.event_occurrence.event.time }} at {{ event_occurrence_payment.event_occurrence.event.venue }}</td>
        <td>{{ event_occurrence_payment.event_occurrence.number_of_teams }}</td>
        <td>${{ event_occurrence_payment.gross_amount }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</br>
{% endif %}

{% if pay_stub.reimbursements.all %}
<h5>Reimbursement</h5>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Submission Date</th>
        <th>Purchase Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for reimbursement in pay_stub.reimbursements.all %}
      <tr>
        <td>{{ reimbursement.submission_date }}</td>
        <td>{{ reimbursement.purchase_date }}</td>
        <td>{{ reimbursement.get_category_display }}</td>
        <td>{{ reimbursement.description }}</td>
        <td>${{ reimbursement.amount }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endif %}

{% endblock %}