{% extends "base.html" %}

{% block title %}Trivia City - Reimbursements{% endblock %}

{% block content %}

<div class="d-flex flex-row justify-content-between mb-3">
  <div><h1>Reimbursements</h1></div>
  <div class="align-self-center"><a href="{% url 'reimbursement-create' %}" class="btn btn-success"><i class="fa fa-plus"></i> Add Request</a></div>
</div>

{% if reimbursement_list %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>Submission Date</th>
        <th>Purchase Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Documentation</th>
        <th>Paystub</th>
        <th>Approved Amount</th>
        <th>Paid</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for reimbursement in reimbursement_list %}
      <tr>
        <td>{% if not reimbursement.paid %}<a href="{% url 'reimbursement-update' reimbursement.pk %}">Edit</a>{% endif %}</td>
        <td>{{ reimbursement.submission_date|date:"m/d/y" }}</td>
        <td>{{ reimbursement.purchase_date|date:"m/d/y" }}</td>
        <td>{{ reimbursement.get_category_display }}</td>
        <td>{{ reimbursement.description|truncatewords:10 }}</td>
        <td>${{ reimbursement.amount }}</td>
        <td>{% if reimbursement.documentation %}<a href="{{ reimbursement.documentation.url }}">View</a>{% endif %}</td>
        <td>{{ reimbursement.pay_stub.pay_date|date:"m/d/y" }}</td>
        <td>{% if reimbursement.approved %}{{ reimbursement.approved_amount }}{% else %}Pending{% endif %}</td>
        <td class="text-center">{% if reimbursement.paid  %}<i class="fa fa-check"></i>{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% else %}
  <p class="p-3">You have no reimbursements.</p>
{% endif %}
{% endblock %}