{% extends 'base.html' %}

{% block title %}Trivia City - Reimbursement Request{% endblock %}

{% block content %}
<h1 class="pb-3">Reimbursement Request</h1>
<p>Complete the following information to request for reimbursement.</p>

    <form action="" method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'includes/form.html'%}
      <input class="mb-3" type="submit" value="Submit" />
    </form>
    
<script>
$( function() {
$( "#id_purchase_date" ).datepicker();
} );
</script>
{% endblock %}