{% extends "base.html" %}

{% block title %}Trivia City - About{% endblock %}

{% block content %}

<h1>About</h1>
<hr />
<p>Trivia City started out as a simple scheduling project for my 
programming portfolio.</p>

<p>I'd been working in the trivia business since 2012, first as an emcee 
during my stand up comedy days, then as a human resources manager, 
and then finally as an operations manager when the company was 
sold to a national trivia company. I know I never heard of that either.</p>

<p>After helping with the transition, the new owners offered me a position 
as a regional manager where I worked for another two years.</p>

<p>As much as I loved the company and the niche that I fell into, 
I love even more making things more efficient and decided that I wanted 
to do a web application to make things easier to run a trivia company remotely. 
So here's the web app. It's not an actual trivia company. 
Unless you want cute puppies and kitties to host your trivia event.</p> 

{% endblock %}