{% load static %}<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trivia City{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="{% static 'css/jquery-clockpicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link  rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/jquery-clockpicker.min.js' %}"></script>
    {% block stylesheet %}
    {% endblock %}
    <style>
    #navbar-toggle-checkbox {
        display: none;
      }
    </style>
    <noscript>
    <style>
    #navbar-toggle-checkbox:checked ~ .collapse {
       display: block;
      }

    .dropdown:hover > .dropdown-menu {
      display: block;
      }

    #toggle-navbar {
      display: none;
      }
    </style>
    </noscript>
  </head>
  <body>
  {% block body %}
  <noscript>
  <p>You have Javascript disabled. Your experience might be affected.</p>
  </noscript>

    <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand" href="{% url 'home' %}"><h1>Trivia City</h1></a>
      <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation" id="toggle-navbar">
      <i class="fa fa-bars"></i>
      </button>
      </div>
      <input aria-controls="navbarMain" id="navbar-toggle-checkbox" role="button" type="checkbox">
      <noscript>
      <label class="navbar-toggler" for="navbar-toggle-checkbox">
      <i class="fa fa-bars"></i>
      </label>
      </noscript>
      <div class="collapse navbar-collapse" id="navbarMain">
      {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'event-occurrence-list-host' user.username %}">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'game-list' %}">Game Supplies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'policy-list' %}">Policies & Procedures</a>
          </li>
          <li class="nav-item dropdown">
            <a  href="" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="payDropDown" aria-haspopup="true" aria-expanded="false">Pay</a>
            <ul class="dropdown-menu" aria-labelledby="payDropDown">
              <li>
                <a class="dropdown-item" href="{% url 'pay-stub-list-current-user' user.username %}">Pay Stubs</a></li>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'reimbursement-list-user' user.username %}">Reimbursements</a></li>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="navbarDropDown" aria-haspopup="true" aria-expanded="false">
            Hello, {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
              <li>
                <a class="dropdown-item" href="{% url 'account-update' user.username %}">My Account</a></li>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
              </li>
            </ul>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'event-occurrence-list' %}">Locations & Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'how-to-play' %}">How To Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'host-profile-list' %}">Meet The Hosts</a>
          </li>
        </ul>
      {% endif %}
    </nav>
    <div class='jumbotron jumbotron-image jumbotron-fluid text-center'>
      <h1 class="jumbotron-message container rounded py-2 text-white">Welcome to Trivia City!</h1>
    </div>
    <div class="container p-4 rounded bg-white border">
      {% block content %}
      {% endblock %}
    </div>
  {% endblock %}
  </body>
</html>