<h1>Events</h1>

<a href="{% url 'event-occurrence-list-host' user.username %}">All</a>
<a href="{% url 'event-occurrence-list-past-host' user.username %}">Past</a>
<a href="{% url 'event-occurrence-list-future-host' user.username %}">Upcoming</a>
<a href="{% url 'event-occurrence-list-available' %}">Available</a>

<p>
{% if messages %}
  {% for message in messages %}
  {{ message | safe }}
  {% endfor %}
{% endif %}
</p>

{% if event_occurrence_list %}

<p>* indicates a day change or time change from the normal schedule. 
While we try to stay up to date, changes from the venue may occur last minute.</p>

<table>
  <thead>
    <tr>
      {% if user.is_authenticated %}
      <th>Action</th>
      {% endif %}
      <th>Day</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>
      <th>Venue</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for event_occurrence in event_occurrence_list %}
    <tr>
      {% if user.is_authenticated %}
      <td>
      {% if event_occurrence.cancelled_ahead %}
      Cancelled for {{ event_occurrence.cancellation_reason }}
      {% elif user.username == event_occurrence.host.username and event_occurrence.can_be_edited %}
      <a href="{% url 'event-occurrence-update' event_occurrence.pk %}">Edit Game Info</a>
      {% elif user.username == event_occurrence.host.username and event_occurrence.has_passed %}
      <a href="{% url 'event-occurrence-update' event_occurrence.pk %}">Submit Game Info</a> {% if event_occurrence.is_late %}(LATE){% endif %}
      {% elif event_occurrence.change_host and not event_occurrence.has_passed %}
      <a href="{% url 'pick-up' event_occurrence.pk %}">Pick Up Shift</a>
      {% elif user.username != event_occurrence.event.host.username and not event_occurrence.change_host and not event_occurrence.has_passed %}
      <a href="{% url 'request-off' event_occurrence.pk %}">*Request Day Off</a>
      {% elif user.username == event_occurrence.host.username and not event_occurrence.change_host and not event_occurrence.has_passed %}
      <a href="{% url 'request-off' event_occurrence.pk %}">Request Day Off</a>
      {% elif user.username != event_occurrence.host.username and not event_occurrence.change_host and event_occurrence.status == 'Game' %} 
      Covered by {{ event_occurrence.host.first_name }} {{ event_occurrence.host.last_name }}
      {% endif %}
      </td>
      {% endif %}
      <td>{{ event_occurrence.pk }}{% if event_occurrence.is_different_day %}*{% endif %}{{ event_occurrence.day }}</td>
      <td>{% if event_occurrence.is_different_day %}*{% endif %}{{ event_occurrence.date }}</td>
      <td>{% if event_occurrence.is_different_time %}*{% endif %}{{ event_occurrence.time}}</td>
      <td>{{ event_occurrence.status }}</td>
      <td>{{ event_occurrence.event.venue }}</td>
      <td><a href="{{ event_occurrence.event.venue.map_link }}">{{ event_occurrence.event.venue.address }}</a></td>
      <td>{{ event_occurrence.event.venue.city.name }}</td>
      <td>{{ event_occurrence.event.venue.state.name }}</td>
      <td>{{ event_occurrence.event.venue.zip.code }}</td>
      <td><a href="{{ event_occurrence.event.get_absolute_url }}">Details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <p>There are no events.</p>
{% endif %}