{% extends 'base.html' %}

{% block title %}Trivia City - My Events{% endblock %}

{% block content %}
<h1>Events</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    {% url 'event-occurrence-list-host' user as url %}
    <a class="nav-link {% if request.path == url %} active {% endif %}" href="{{url}}">All</a>
  </li>
  <li class="nav-item">
    {% url 'event-occurrence-list-past-host' user as url %}
    <a class="nav-link {% if request.path == url %} active {% endif %}" href="{{url}}">Past</a>
  </li>
  <li class="nav-item">
    {% url 'event-occurrence-list-future-host' user as url %}
    <a class="nav-link {% if request.path == url %} active {% endif %}" href="{{url}}">Upcoming</a>
  </li>
  <li class="nav-item">
    {% url 'event-occurrence-list-available' as url %}
    <a class="nav-link {% if request.path == url %} active {% endif %}" href="{{url}}">Available</a>
  </li>
</ul>

<p>
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message | safe }}</div>
  {% endfor %}
{% endif %}

</p>

{% if event_occurrence_list %}

<p>* indicates a day change or time change from the normal schedule. 
While we try to stay up to date, changes from the venue may occur last minute.</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Day</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Venue</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for event_occurrence in event_occurrence_list %}
      <tr>
        <td>
        {% if event_occurrence.cancelled_ahead %}
        Cancelled for {{ event_occurrence.cancellation_reason }}
        {% elif user.username == event_occurrence.host.username and event_occurrence.event_occurrence_payments.first.paid %}
        <a href="{% url 'event-occurrence-detail' event_occurrence.pk %}" class="btn btn-view">View Game Info <i class="fa fa-angle-double-right"></i></a>
        {% elif user.username == event_occurrence.host.username and event_occurrence.can_be_edited %}
        <a href="{% url 'event-occurrence-update' event_occurrence.pk %}" class="btn btn-edit">Edit Game Info <i class="fa fa-angle-double-right"></i></a>
        {% elif user.username == event_occurrence.host.username and event_occurrence.has_passed %}
        <a href="{% url 'event-occurrence-update' event_occurrence.pk %}" class="btn btn-submit">Submit Game Info {% if event_occurrence.is_late %}(LATE){% endif %} <i class="fa fa-angle-double-right"></i></a>
        {% elif event_occurrence.change_host and not event_occurrence.has_passed %}
        <a href="{% url 'pick-up' event_occurrence.pk %}" class="btn btn-pick-up">Pick Up Shift <i class="fa fa-angle-double-right"></i></a>
        {% elif user.username != event_occurrence.event.host.username and not event_occurrence.change_host and not event_occurrence.has_passed %}
        <a href="{% url 'request-off' event_occurrence.pk %}" class="btn btn-request-off">*Request Day Off <i class="fa fa-angle-double-right"></i></a>
        {% elif user.username == event_occurrence.host.username and not event_occurrence.change_host and not event_occurrence.has_passed %}
        <a href="{% url 'request-off' event_occurrence.pk %}" class="btn btn-request-off">Request Day Off <i class="fa fa-angle-double-right"></i></a>
        {% elif user.username != event_occurrence.host.username and not event_occurrence.change_host and event_occurrence.status == 'Game' %} 
        Covered by {{ event_occurrence.host.first_name }} {{ event_occurrence.host.last_name }}
        {% endif %}
        </td>
        <td>{% if event_occurrence.is_different_day %}*{% endif %}{{ event_occurrence.day }}</td>
        <td>{% if event_occurrence.is_different_day %}*{% endif %}{{ event_occurrence.date }}</td>
        <td>{% if event_occurrence.is_different_time %}*{% endif %}{{ event_occurrence.time}}</td>
        <td>{{ event_occurrence.status }}</td>
        <td>{{ event_occurrence.event.venue }}</td>
        <td><a href="{{ event_occurrence.event.venue.map_link }}">{{ event_occurrence.event.venue.address }}</a></td>
        <td>{{ event_occurrence.event.venue.city.name }}</td>
        <td>{{ event_occurrence.event.venue.state.name }}</td>
        <td>{{ event_occurrence.event.venue.zip.code }}</td>
        <td><a href="{{ event_occurrence.event.get_absolute_url }}">Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}

  <p>There are no events.</p>

{% endif %}

{% endblock %}