{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Trivia City - Game Info Submission Form{% endblock %}

{% block content %}
<h1>Game Info Submission Form</h1>
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
</div>
{% endif %}

{% if event_occurrence.event_occurrence_payments.first.paid %}
  {% include 'includes/form_readonly.html' %}
{% else %}
<form action="" method="post" novalidate enctype="multipart/form-data">
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <input type="submit" value="Submit">
</form>
{% endif %}

<script>
document.getElementById('id_status').onchange = adjustConditionals

function adjustConditionals() {
  if (document.getElementById("id_status").value == 'No Game') {
    document.getElementById("id_cancellation_reason").parentElement.style.display = "block";
    document.getElementById("id_time_started").parentElement.style.display = "none";
    document.getElementById("id_time_ended").parentElement.style.display = "none";
    document.getElementById("id_number_of_teams").parentElement.style.display = "none";
    document.getElementById("id_scoresheet").parentElement.style.display = "none";
  } else if (document.getElementById("id_status").value == 'Game') {
    document.getElementById("id_cancellation_reason").parentElement.style.display = "none";
    document.getElementById("id_time_started").parentElement.style.display = "block";
    document.getElementById("id_time_ended").parentElement.style.display = "block";
    document.getElementById("id_number_of_teams").parentElement.style.display = "block";
    document.getElementById("id_scoresheet").parentElement.style.display = "block";
  }
}
window.onload = adjustConditionals
$("#id_time_started").clockpicker({donetext: 'Set Time', twelvehour: true});
$("#id_time_ended").clockpicker({donetext: 'Set Time', twelvehour: true});
</script>

{% endblock %}